.top,.bottom,#main{
    position:fixed;
    width: 100%;
    text-align: center;
    z-index: 10;
}
.top{
    height: 44px;
    top:0;
    line-height: 44px;
}
.bottom{
    line-height: 34px;
    height: 34px;bottom: 0;
}
#main{
    height: calc(100vh - 44px - 34px);
    width: 100%;
    top: 44px;
    padding: 0;
    background-color: #f3f3f3;
}
div{margin:0;border:0;padding:0;}